$color-white: #ffffff;
$color-light: #f4f4f4;
$color-darks: #454545;
$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);




.container {
  padding: 4rem 2rem;
  margin: 0 auto;
  max-width: 75rem;
  width: 90%;
}

.main {
  .container {
    .glider-contain {
      .glider {
        .card-image {
          margin-right: 0.5rem;
          background: $color-white;
          border: none;
          outline: none;
          box-shadow: $box-shadow;
          border-radius: 2px;

          img {
            display: block;
            position: relative;
            left: 0;
            bottom: 0;
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        }
      }

      .glider-prev,
      .glider-next {
        font-size: 1.5rem;
        background: $color-darks;
        color: $color-white;
        margin-top: 1rem;
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        border-radius: 50%;

        .fas {
          margin-left: 1rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .main {
    .glider-contain {
      .glider-prev,
      .glider-next {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 769px) {
  .main {
    .glider-contain {
      .dots {
        display: none;
      }
    }
  }
}
